body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(221, 234, 234);
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
}